{% extends 'CooperativeBundle::baseconsomacteur.html.twig' %}

{% block body -%}
    <h1>Consomacteur edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a class="btn btn-primary" href="{{ path('consomacteur') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
