{# empty Twig template #}
{% extends 'CooperativeBundle::baseadmin.html.twig' %}

{% block body %}
    <p>Identifiant: admin ; Mot de passe: admin</p>
    {% block fos_user_content %}
    {% endblock fos_user_content %}

{% endblock %}